
<!doctype html>
<html>
<body style="background-color:powderblue;">
  <head>
    <title>About page</title>
  </head>
  <h1 style="color:red;"><center> About Us</center></h1>
  <body>
    <p><center>Here at "Sheldon's Recipe Bank we procide a service to the community by allowing members to upload recipes to join our wever expanding list of recipes from all over the world. We pride ourselves on remaining free to use as we believe it is important that everyone is able to share and help eachother in the world of cooking!</center></p>
    <a href='./'><button>Home</button></a>
    <a href='./register'><button>Register Now!</button></a>
  </body>
</html>
