<!doctype>
<head>
<body style="background-color:powderblue;">
    <title>Add recipe Page</title>
  </head>
  <h1 style ="color:gray;"><center> Add a New Recipe!</center> </h1>
  <body>
    <h3>Please fill related data to add the recipe to database</h3>
  </body>
   <a href='./'><button>Home</button></a>




  <form method="POST" action="/recipeadded">
    <input id="name" type="text" name="name" value="name of food"/>
    <input id="ingredients" type="text" name="ingredients" value="ingredients" />
    <input id ="recipe" type ="text" name ="recipe" value="recipe"/>
    <input type="submit" value="OK"/>
  </form>

