

<!doctype html>
<html>
<body style="background-color:coral;">
  <head>
    <title>Home Page</title>
  </head>
  <h1 style="color:blue;"><center> Sheldon's Recipe Bank</center> </h1>
  <body>
    <h2 style = "color:blue;"><center>Welcome to the home of the community's best recipes!</center></h2>
	<a href='/login'><button>Login</button></a>
	<a href='/register'><button>Register</button></a>
	<a href='/addrecipe'><button>Add Recipe</button></a>
	<a href='/deleterecipe'><button>Delete Recipe</button></a>
	<a href='/updaterecipe'><button>Update Recipe</button></a>
	<a href='/list'><button>List</button></a>
	<a href='/search'><button>Search</button></a>
	<a href='/about'><button>About Us</button></a>
	<a href='/api'><button>API</button></a>
	<a href='/logout'><button>Logout</button></a>

  </body>
</html>
