<!doctype html>
<html>
<body style="background-color:powderblue;">
  <head>
    <title>Login Page</title>
  </head>
  <h1 style ="color-red;"><center> Login </center> </h1>
  <body>
    <h3>Please input both your username and password please.</h3>
    <a href='./'><button>Home</button></a>
  </body>


  <form method="POST" action="/loggedin">
    <input id="username" type="text" name="username" value="username" />
    <input id="password" type="text" name="password" value="password" />
    <input type="submit" value="OK"/>
  </form>
</html>
:
