<!doctype html>
<html>
<body style ="background-color:powderblue;">
  <head>
    <title>Register Page</title>
  </head>
  <h1 style ="color:red;"> Sign Up Now! </h1>
  <body>
    <h3>Please input both forename and surname please.</h3>
    <a href='./'><button>Home</button></a>
    <a href='./login'><button> Already have an account? Sign In</button></a>
  </body>


  <form method="POST" action="/registered">
    <input id="username" type="text" name="username" value="username" />
    <input id="password" type="text" name="password" value="password" />
    <input id="email" type="text" name="email" value="email" />
    <input type="submit" value="OK"/>
  </form>
</html>
