<!doctype>
<body style ="background-color:powderblue;">
<head>
    <title>Update Page</title>
  </head>
  <h1 style ="color:gray;"><center> Update a Recipe</center> </h1>
  <body>
    <h3>Please fill in new data for an existing recipe</h3>
  </body>
   <a href='./'<button>Home</button></a>



  <form method="POST" action="/recipeupdated">
    <input id="name" type="text" name="name" value="name" />
    <input id="ingredients" type="text" name="ingredients" value="ingredients" />
    <input id="method" type="text" name="method" value="method" />    
    <input type="submit" value="OK"/>
  </form>
</html>

